.attribution { font-size: 11px; text-align: center; color: white; margin-top: 30px;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(216, 50%, 16%);
    width: 320px;
    height: 550px;
    border-radius: 15px;
}

#logo-pic {
    height: 280px;
    border-radius: 15px;
}

#profile-pic {
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
}

#profile-pic:hover {
    background-image: rgba(5, 201, 201, 0.63);
}

#title {
    width: 86%;
    color: white;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
}

#title:hover {
    color: rgb(5,200,201);
}

p {
    width: 86%;
    color: rgb(139,172,217);
    font-weight: 400;
    font-size: 16px;
}

#price-container {
    display: flex;
    width: 86%;
    justify-content: space-between;
}

#price-container div {
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    font-size: 14px;
}

#eth-container {
    color: rgb(5,200,201);
    font-weight: 600;
}

#clock-container {
    color: rgb(139,172,217);
}

#price-container div img{
    margin-right: 5px;
}

#profile-container{
width: 86%;
border-top: 1px solid hsl(215, 32%, 27%);
}

#profile-container div{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: rgb(139,172,217);
    margin-top: 15px;
}

#profile-container img {
    margin-right: 12px;
}

#profile-container a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 3px;
}
#profile-container a:hover {
    color: rgb(5,200,201);
}